font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;

/* Whole Site */

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

h1 {
    color:hsl(243, 87%, 12%);
    font-size: 36px;
}

p {
    color:hsl(243, 87%, 12%);
    font-size: 18px;

}

.btn {
    color:white;
    background:hsl(224, 93%, 58%);
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
    border:none;
    padding:10px 50px;
    border-radius: 5px;
}

.btn:hover {
    color:hsl(224, 93%, 58%);
    background: white;
    cursor: pointer;
    border:1px solid hsl(224, 93%, 58%);
}

.container {
    max-width: 1440px;
    margin: auto;
    

}

/* Navbar */

navbar {
    display: flex;
    justify-content: space-between;
    padding-top:20px;
}

navbar img {
    height:50px;
}

navbar ul {
    display: flex;
    justify-content: space-around;
    
}

navbar ul {
    list-style: none;
}

navbar a {
    text-decoration: none;
    margin:0 10px;
    color:hsl(243, 87%, 12%)
}

/* Top */

.top {
    display: flex;
    justify-content: space-around;
    margin-top:200px;
}

.top-left {
    margin-top:100px;

}

.top img {
    width: 600px;
}

form {
    display: flex;
}

.form-input {
    padding:7px 90px 7px 5px;
    margin-right:10px;
    margin-bottom:10px;
}

/* Mid */

.mid{
    margin-top: 200px;
    padding-bottom:50px;
    background:hsl(240, 75%, 98%);
    
}

.curve {
    margin-top:-200px
}

.mid-content {
    display: flex;
    justify-content: space-between;
    margin: 100px 50px;
    
}

.mid-left a {
    text-decoration: none;
    color:hsl(170, 45%, 43%)
    
}

.mid-link {
    border-bottom:1px solid hsl(170, 45%, 43%);
    width:152px;
    padding-bottom: 4px;
    margin-bottom: 40px;
}

.card {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
    padding: 20px;
    width:320px;
    border-radius: 10px;
}

.card-bottom {
    display: flex;
    
}

.card-bottom img {
    border-radius: 100%;
    width:50px;
    height:50px
    
}

.card-words {
    margin-left: 20px;
}

.card-bottom {
    align-items: center;
}

.card-bottom h1 {
    font-size: 18px;
}

.card-bottom p {
    font-size: 14px;
    margin-top:-10px
}

.mid-right img {
    width: 500px;
}

/* Bottom */

.bottom {
    background:hsl(238, 22%, 44%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
    padding-top:40px;
    
}

.bottom-left {
    width:490px;
    margin-left:50px;
}

.bottom-left h1 {
    color:white;
}

.bottom-left p {
    color:white;
}

.bottom-right {
    margin-right:100px;
}

.bottom-right form {
    flex-direction: column;
}

/* Footer */





